.PhoneFrame{
    display: none;
}
.DisplayFrame{
    display: inline;
    position: fixed;
    bottom: 20px;
    right: 0px;
}
@media screen and (max-width:450px){
    .PhoneFrame{
        display: inline-block;
        position: fixed;
        bottom: 70px;
        right: 20px;
    }
    .DisplayFrame{
        display: none;
    }
}