.Frame{
    top: 4px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.Button{
    width: 60px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
}