.Frame{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 600px;
    height: 400px;
    overflow-x: scroll;

    border-radius: 20px;
    border: 1px solid black;
}
.DeleteButton{
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
}
.ImageFrame{
    position: relative;
    max-width: 250px;
    max-height: 500px;

}
.Image{
    padding: 3px;
    max-width: 250px;
    max-height: 500px;
}

@media screen and (max-width:450px){
    .Frame{
        height: 200px;
        width: 280px;
    }
    .Image{
        max-height: 150px;
        max-width: 200px;
    }
    .Frame{
        max-width: 350px;
    }
}