.Frame{
    width: 100%;
    height: 100%;
    position: relative;
}
.DeleteButton{
    position: absolute;
    top: 20px;
    left: 180px;
    color: black;
}
.ImageFrame{
    position: relative;
    max-width: 250px;
    max-height: 500px;

}
.Image{
    padding: 3px;
    max-width: 350px;
    max-height: 600px;
}

@media screen and (max-width:450px){
    .Frame{
        height: 200px;
        width: 280px;
    }
    .Image{
        max-height: 150px;
        max-width: 200px;
    }
    .Frame{
        max-width: 350px;
    }
}