.Button{
    display:inline-block;
    position: fixed;
    right: 30px;
    top: 70px;
    
    color: black;
    background-color: aliceblue;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
}
.Frame{
    
}