.Frame{
    display: inline-block;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 20px;

    border:1px black solid;
}
.Input{
    display: flex;
    align-items: center;

    height: 80px;
}