.Frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}
.Spacer{
    width: 100%;
}

.EditButton{
    margin-top: 10px;
    margin-right: 40px;
    margin-left: auto;
}
.EditUserName{
    width: 100%;
}
.Font{
    font-weight: bolder;
    font-size: 26px;

}