.Frame{
    padding: 20px;
    border: 1px solid  black;
    border-radius: 20px;
    width: calc(100% - 160px);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.Content{
    position: absolute;
    top: 10px;
    left: 3px;
}