.Frame{
    display: inline-block;
    max-height: 200px;
    overflow-y: scroll;
    min-width: 150px;
}

.Radio{
    background-color: white;
    border: 1px solid black;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}