.Frame{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.Input{
    margin: 10px;
    width: 95%;
    height: 30px;

    font-size: 26px;
}
.EnterButton{
    margin-right: auto;
    margin-left: 20px;
}