.Frame{
    position: relative;
}
.Button{
    position: absolute;
    z-index: 200;
    display: inline-block;
    top: 10px;
    left: 20px;
}
.Count{
    position: absolute;
    z-index: 200;
    display: inline-block;
    top: 7px;
    left: 136px;
}
.Error{
    position: absolute;
    display: inline-block;
    bottom: 20px;
    left: 10px;
}