.Frame{
    position: fixed;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    top: 60px;
    left: 200px;
    background-color: whitesmoke;
    overflow-y: scroll;
}
@media screen and (max-width:450px){
    .Frame{
        width: 100%;
        height: calc(100% - 110px);
        left: 0px;
    }
}